<mat-card>
  <mat-card-header>
    <mat-card-subtitle>
      <h3>Consumer Business Form</h3>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="this.formGroup" id="consumer-business-form">
      <mat-form-field>
        <mat-label>Consumer Name</mat-label>
        <input type="text" matInput formControlName="name">
      </mat-form-field>

      <!-- <mat-form-field>
    <mat-label>Date of Birth</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field> -->

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email">
      </mat-form-field>

      <mat-form-field>
        <mat-label>PAN</mat-label>
        <input type="text" matInput formControlName="pan">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Business Type</mat-label>
        <input type="text" matInput>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Annual Turnover</mat-label>
        <input type="number" matInput>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Number of Employees</mat-label>
        <input type="number" matInput>
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>
